.b-example-vr {
   height: 100vh;
 }
.colorrr path {
   fill: rgb(255, 255, 255);
 }

.d-flex {
   display:block;
 }
.justify-content-center {
   justify-content: center;
 }
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #0d6efd00;
}
.card {
   width: 300px;
   margin: 10px;
 }
.tables{
  color:rgb(255, 255, 255);
}
h1 {
  color: #333;
}

form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

button[type="submit"] {
  background-color: #1c1d1cb3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #6254f6;
}
.nav-link:hover {
  background-color: #6254f6;
}
.nav-link.active:hover{
  background-color: #6254f6;
}
.colololo{
  color: #ffffff;
}